@use "base/variables" as v;
@use "base/mixins" as m;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 1rem;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.75rem;
    }
    
    h2 {
        font-size: 2.25rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 3.25rem;
    }
    
    h2 {
        font-size: 2.75rem;
    } 
    
    h3 {
        font-size: 2.25rem; 
    }
}

p { 
    margin: 0 0 1rem;
}

.heading {
    font-weight: 400;
    display: inline-block;
    margin-bottom: v.$gutter;

    span {
        font-weight: 700;
    }

    &::after {
        content: "";
        display: block;
        margin-top: .75rem;
        height: 10px;
        width: 50%;
        background-image: linear-gradient(to right, v.$primary 0%, v.$primary 50%, lighten(v.$primary, 20%) 50%, lighten(v.$primary, 20%) 100%);
    }

    &--span-lg-dblock {
        @include m.lg { 
            span {
                display: block;
            }
        }
    }

}