// Fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Open Sans", sans-serif;

// Media Queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Colors
$primary: #3b4862;
$black: #000000;
$white: #FFFFFF;
$gray: #eeefed;
$lightGray: #f8f8f8;

// Units
$gutter: 3.5rem;